header {
    text-align: center;
    color: white;
    text-shadow: -2px 0 #005EB8, 0 2px #005EB8, 2px 0 #005EB8, 0 -2px #005EB8;
}

.flag-wrapper {
    background-color: #005EB8;
}

.flag-wrapper,
.flag-inside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    gap: .25em;
    align-items: center;
    justify-content: center;
}

#search-box {
    width: 20em;
    height: fit-content;
    padding: 5px;
    font-size: 1.25em;
    border-radius: 3px;
    resize: none;
}

#results-box {
    background-color: white;
    color: #005EB8;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: stretch;
    justify-content: start;
    align-items: flex-start;
    column-gap: .5em;
    row-gap: 1em;
    width: 75%;
    height: fit-content;
    padding: 1em 5em;
    margin: 2em;
    /* margin: 0; */
    /* border: 2px solid #005EB8; */
    box-shadow: 0 0 5px 5px white;
}

#definition-display-1 {
    font-size: 2.5em;
}

#definition-display-2 {
    font-size: 1em;
    font-style: italic;
    align-self: end;
}

#definition-display-3 {
    font-size: 1.5em;
    align-self: end;
}

footer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8em;
}

.credits-link {
    color: white;
}

.profile-pic {
    width: 3em;
    height: 3em;
}

/*query if screen is tall enough for proper footer*/
@media only screen and (min-height: 275px) {
    footer {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
    }
}


/*tablet query*/
@media only screen and (min-width: 768px) {

    footer {
        flex-direction: row;
        margin-top: 1.25em;
        font-size: .9em;
    }

    .profile-pic {
        width: 3.5em;
        height: 3.5em;
    }
}

/*desktop query*/
@media only screen and (min-width: 992px) {
    footer {
        font-size: 1em;
    }

    .profile-pic {
        width: 3.75em;
        height: 3.75em;
    }
}