* {
    font-family: 'Alice', serif;
}

/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

header {
    text-align: center;
    color: white;
    text-shadow: -2px 0 #005EB8, 0 2px #005EB8, 2px 0 #005EB8, 0 -2px #005EB8;
}

.flag-wrapper {
    background-color: #005EB8;
}

.flag-wrapper,
.flag-inside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    gap: .25em;
    align-items: center;
    justify-content: center;
}

#search-box {
    color: #012446;
    width: 20em;
    height: 1.35em;
    padding: .25em;
    margin: 0;
    font-size: 1.25em;
    border-radius: 5px;
    resize: none;
}

#search-box:focus {
    outline: none !important;
}

.button-area {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 5%;
    margin-top: .25em;
}

button {
    color: #005EB8;
    background-color: white;
    width: fit-content;
    height: fit-content;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
}

#results-box {
    background-color: white;
    color: #005EB8;
    display: none;
    grid-template-columns: auto auto auto;
    justify-items: stretch;
    justify-content: start;
    align-items: flex-start;
    column-gap: .5em;
    row-gap: 1em;
    width: 75%;
    height: fit-content;
    padding: 1em 5em;
    margin: 2em;
    /* margin: 0; */
    /* border: 2px solid #005EB8; */
    border-radius: 10px;
    box-shadow: 0 0 5px 5px white;
    z-index: 1;
    /*make sure footer doesn't interfere if window height is small*/
}

#definition-display-1 {
    font-size: 2.5em;
    margin-right: 1em;
}

#definition-display-2 {
    font-size: 1em;
    font-style: italic;
    align-self: start;
}

#definition-display-3 {
    font-size: 1.5em;
    align-self: start;
}

#definition-display-none-1 {
    color: rgb(180, 1, 1);
    font-size: 2em;
    align-self: end;
}

#definition-display-none-2 {
    color: rgb(180, 1, 1);
    font-size: 2.5em;
    font-style: italic;
    margin-left: .25em;
}

#about-section {
    position: absolute;
    top: 2%;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: fit-content;
    padding: 5px;
    font-size: 20px;
    border: double 1em white;
    border-radius: 10px;
    color: white;
    background-color: #005EB8;
    z-index: 1;
}

a {
    color: white;
}

footer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    z-index: -1;
}

.profile-pic {
    width: 3em;
    height: 3em;
}

/*query if screen is tall enough for proper footer*/
@media only screen and (min-height: 275px) {

    footer {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
    }
}


/*tablet query*/
@media only screen and (min-width: 768px) {

    .button-area {
        margin-top: .35em;
    }

    button {
        font-size: 1.2em;
    }

    footer {
        margin-top: 1.25em;
        font-size: .9em;
    }

    .profile-pic {
        width: 3.5em;
        height: 3.5em;
    }
}

/*desktop query*/
@media only screen and (min-width: 992px) {

    .button-area {
        margin-top: .5em;
    }

    button {
        font-size: 1.3em;
    }

    footer {
        font-size: 1em;
    }

    .profile-pic {
        width: 3.75em;
        height: 3.75em;
    }
}